<?php

`PhpNamespaceStatement()`

use Symfony\Component\Validator\Constraint;

/**
 *
 * @author `g:snips_author`
 *
 * @Annotation
 */
class `Filename('', 'FooBar')` extends Constraint
{

	/**
	 *
	 * @var string
	 */
	public $message = 'The string "%string%" is not valid';

	/**
	 *
	 * @return string
	 */
	public function getTargets()
	{
		return self::CLASS_CONSTRAINT;
	}
}
