<?php

`PhpNamespaceStatement()`

use Symfony\Component\EventDispatcher\Event;

/**
 *
 * @author `g:snips_author`
 */
class `Filename('', 'FooBarListener')`
{
	/**
	 *
	 * @param Event $event
	 */
	public function on${1:FooAction}(Event $event)
	{
		${2}
	}
}
