<?php

`PhpNamespaceStatement()`

use Symfony\Component\EventDispatcher\Event;

/**
 *
 * @author David Badura <d.a.badura@gmail.com>
 */
class `Filename('', 'FooBarListener')`
{

	public function on${1:FooAction}(Event $event)
	{

	}
}
