<?php

`PhpNamespaceStatement()`

/**
 *
 * @author David Badura <d.a.badura@gmail.com>
 */
class `Filename('', 'FooBarTest')` extends PHPUnit_Framework_TestCase
{

	public function testBaz()
	{
		$this->assertEquals('foo', 'bar');
	}

}
